@tailwind base;
@tailwind components;
@tailwind utilities;

 

.scrollbar::-webkit-scrollbar {
    
    height: 3px;
    background-color: #0D0B21;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 20px;
}
.scrollbar::-webkit-scrollbar-thumb:horizontal {
    background-color: #6418C3;
    border-radius: 20px;
}

.todoActive {
    background-color: #6418C3;
    color: #FFFFFF;
}
.todoDeActive {
    background-color: #211A75;
    color: #6418C3;
}
